p 

{text-align: center; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; color: #F7F5F6;}

h1{text-align: center; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; color: #00BFF0;}

body {background-color: black;}

h2{text-align: center; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; color: #1BDAA2;}

body

{text-align: center; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; color: #F7F5F6;}

h3{text-align: center; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; color: #5810E6;} 

*
 {margin: 0px;

    padding: 0px;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}